/* coleurs en CSS */

:root {
  --blanc: #fff;
  --gris-clair: #ddd;
  --gris-transparant: rgba(0, 0, 0, 0.212);
  --gris: rgb(155, 155, 155);
  --gris-fonce: rgb(94, 94, 94);
  --bleu-clair: #c1d2d9;
  --bleu-fonce: #7bafc9;
  --orange: orange;
}

/* style général */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
header {
  background: no-repeat center/cover url(../img/bg.jpg);

  height: 100vh;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gris-transparant);
  display: flex;
  height: 10vh;
}

h1 {
  font-size: 1.6rem;
  color: var(--blanc);
  font-family: "Ephesis", cursive;
  margin-left: 60px;
  margin-right: 50px;
}

nav a {
  color: var(--blanc);
  margin-right: 30px;
  text-decoration: none;
  transition: 1s;
}

nav a:hover {
  color: var(--orange);
}

nav a:last-child {
  border: 1px solid var(--blanc);
  border-radius: 15px;
  padding: 10px;
  margin-right: 50px;
}

h2 {
  font-family: "Ephesis", cursive;
  font-size: 3rem;
  text-align: center;

  color: var(--blanc);
}
.par {
  text-align: center;
  color: var(--blanc);

  margin-bottom: 30px;
}

main {
  position: relative;
}

.setting {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 0;
  padding: 20px;

  background-color: var(--bleu-clair);
  color: var(--bleu-fonce);
}

article {
  width: 80%;

  margin: auto;
  background-color: var(--blanc);
  position: relative;
}

article img {
  max-width: 100%;
}

.center {
  display: flex;
  flex-direction: row;
}
.text {
  margin: 20px;
  border: 1px solid var(--gris-clair);
}

.col-4 p,
.col-4 h3 {
  margin: 20px 7px;
}

#prix1,
#prix2,
#prix3 {
  background: var(--blanc);
  position: absolute;
  top: 10px;
  font-size: 1.3rem;
  padding: 10px;
}

#prix4,
#prix5,
#prix6 {
  background: var(--blanc);
  position: absolute;
  top: 475px;
  padding: 10px;
  font-size: 1.3rem;
}

#prix7,
#prix8,
#prix9 {
  background: var(--blanc);
  position: absolute;
  top: 940px;
  padding: 10px;
  font-size: 1.3rem;
}

article img {
  max-width: 100%;
}

/* BUTTON */

button {
  text-align: center;
  color: var(--bleu-fonce);
  margin: 20px 600px;
  border: 1px solid var(--bleu-fonce);
  border-radius: 20px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

/* FOOTER */
footer {
  height: 85vh;
  background-color: var(--bleu-fonce);
  color: var(--blanc);
}
.footer {
  display: flex;
  margin: 1%;
}

footer p {
  padding: 20px;
  margin-bottom: 10px;
}

#casa {
  margin-right: 40px;
}

footer .menu {
  color: var(--blanc);
  margin: 20px 30px auto 28px;
}

footer i {
  padding: 10px;
  color: var(--blanc);
}

.fa-facebook {
  margin-left: 0;
  padding-left: 0;
}

#right {
  text-align: center;
  border-top: 1px solid var(--blanc);
  width: 90%;
  margin: auto;
}

/*Ma grille */

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.666666%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* HEADER */

  .header {
    flex-direction: column;

    background-color: var(--bleu-fonce);

    height: 20vh;
  }

  h1 {
    margin-top: 100px;
  }

  nav a {
    margin: 30px;
  }

  nav a:last-child {
    border: 1px solid var(--blanc);
    border-radius: 15px;
    padding: 10px;
    margin-right: 50px;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .par {
    text-align: center;
  }

  nav a:last-child {
    display: none;
  }

  main {
    position: relative;
  }

  .setting span {
    display: none;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .col-4 {
    width: 100%;
    text-align: center;
  }

  .col-4 p,
  .col-4 h3 {
    text-align: center;
  }

  #prix1 {
    left: 80px;
    top: 10px;
    padding: 10px;
    position: absolute;
  }

  #prix2 {
    position: absolute;
    left: 80px;
    top: 660px;
    padding: 10px;
  }

  #prix3 {
    position: absolute;
    left: 80px;
    top: 1310px;
    padding: 10px;
  }

  #prix4 {
    position: absolute;
    left: 80px;
    top: 1950px;
    padding: 10px;
  }

  #prix5 {
    position: absolute;
    left: 80px;
    top: 2600px;
    padding: 10px;
  }

  #prix6 {
    position: absolute;
    left: 80px;
    top: 3250px;
    padding: 10px;
  }

  #prix7 {
    position: absolute;
    left: 80px;
    top: 3900px;
    padding: 10px;
  }

  #prix8 {
    position: absolute;
    left: 80px;
    top: 4550px;
    padding: 10px;
  }

  #prix9 {
    position: absolute;
    left: 80px;
    top: 5190px;
    padding: 10px;
  }

  /* BUTTON */

  button {
    margin: 0 300px;
  }

  /* FOOTER */
  footer {
    height: 120vh;
  }
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .para {
    margin-bottom: ;
    margin: 20px auto;
  }
  footer p {
    padding: 10px;
  }

  #casa {
    margin: 0 auto;
  }

  footer .menu {
    color: var(--blanc);
    margin: 20px 20px auto 28px;
  }

  footer i {
    padding: 5px;
  }

  #right {
    text-align: center;
    border-top: 1px solid var(--blanc);
    width: 90%;
    margin: auto;
  }

  /*Ma grille */

  .col-3 {
    width: 25%;
  }

  .col-6 {
    width: 50%;
  }

  .col-12 {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  /* HEADER */

  .header {
    flex-direction: column;

    background-color: var(--bleu-fonce);

    height: 20vh;
  }

  h1 {
    margin-top: 100px;
  }

  nav a {
    margin: 30px;
  }

  nav a:last-child {
    border: 1px solid var(--blanc);
    border-radius: 15px;
    padding: 10px;
    margin-right: 50px;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .par {
    text-align: center;
  }

  nav a:last-child {
    display: none;
  }

  main {
    position: relative;
  }

  .setting span {
    display: none;
  }

  .center img {
    max-width: 100%;
  }

  .col-4 p,
  .col-4 h3 {
    text-align: center;
  }

  #prix1 {
    left: 20px;
    top: 10px;
    padding: 5px;
  }

  #prix2 {
    position: absolute;
    left: 290px;
    top: 10px;
    padding: 10px;
  }

  #prix3 {
    position: absolute;
    left: 550px;
    top: 10px;
    padding: 10px;
  }

  #prix4 {
    position: absolute;
    left: 30px;
    top: 425px;
    padding: 10px;
  }

  #prix5 {
    position: absolute;
    left: 290px;
    top: 425px;
    padding: 10px;
  }

  #prix6 {
    position: absolute;
    left: 558px;
    top: 425px;
    padding: 10px;
  }

  #prix7 {
    position: absolute;
    left: 30px;
    top: 840px;
    padding: 10px;
  }

  #prix8 {
    position: absolute;
    left: 290px;
    top: 840px;
    padding: 10px;
  }

  #prix9 {
    position: absolute;
    left: 555px;
    top: 840px;
    padding: 10px;
  }

  /* BUTTON */

  button {
    margin: 0 400px;
  }

  /* FOOTER */
  footer {
    height: 50vh;
  }

  footer p {
    padding: 10px;
  }

  #casa {
    margin: 0 auto;
  }

  footer .menu {
    color: var(--blanc);
    margin: 20px 20px auto 28px;
  }

  footer i {
    padding: 5px;
  }

  #right {
    text-align: center;
    border-top: 1px solid var(--blanc);
    width: 90%;
    margin: auto;
  }

  .footer 

  /*Ma grille */
.col-12 {
    width: 100%;
  }

  .col-4 {
    width: 33.333333%;
    margin-right: 2%;
  }

  .col-6 {
    width: 50%;
  }
}
